# IDE stuff
.idea

# python stuff
__pycache__
venv/

# intermediate data files
*.json
*.xlsx
*.xml
*.toml
*.html
*.log
sections/

# LibreOffice stuff
.~lock.data.xlsx#

# other organizational stuff
*_deploy*
